<div *ngIf="_dataSource && options" fxFlexFill fxLayout="column">
  <mat-form-field *ngIf="options.filterable !== false" fxFlex="50px">
    <input #filter (keyup)="applyFilter($event)" [placeholder]="options.filter?.placeholder || 'Filter'" matInput />
  </mat-form-field>
  <cdk-virtual-scroll-viewport [tvsItemSize]="48" fxFlex>
    <table [dataSource]="_dataSource" mat-table matSort>
      <tr *matHeaderRowDef="columns; sticky: true" mat-header-row></tr>
      <tr (click)="rowClick(row)" *matRowDef="let row; columns: columns" [class]="options.rowClass && options.rowClass(row)" mat-row></tr>
      <ng-container *ngIf="options.rowActions" matColumnDef="actions">
        <th *matHeaderCellDef class="actions-column" mat-header-cell></th>
        <td *matCellDef="let row" mat-cell>
          <button
            (click)="raiseAction(action.action, $event, row)"
            *ngFor="let action of options.rowActions; let i = index"
            class="actions"
            mat-icon-button
          >
            <mat-icon>{{ getActionIcon(action.icon, row) }}</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container *ngFor="let column of options?.columns; let i = index" matColumnDef="{{ column.key }}">
        <th *matHeaderCellDef [disabled]="column.isSortable === false" mat-header-cell mat-sort-header>
          {{ column.title || column.key }}
        </th>
        <td *matCellDef="let row" mat-cell>
          <ng-container
            *ngIf="_matCellDefs[column.key]; else defaultTemplate"
            [ngTemplateOutletContext]="{ row: row, index: i }"
            [ngTemplateOutlet]="_matCellDefs[column.key]?.template"
          >
          </ng-container>
          <ng-template #defaultTemplate>{{ row[column.key] }}</ng-template>
        </td>
      </ng-container>
    </table>
  </cdk-virtual-scroll-viewport>
</div>
