<ng-container *ngIf="model">
  <mat-toolbar *ngIf="model.formTitle" color="primary" style="margin-bottom: -5px">
    <span>{{ model.formTitle }}</span>
  </mat-toolbar>
  <mat-card>
    <form (ngSubmit)="save.emit(model.formGroup.value)" [formGroup]="model.formGroup">
      <mat-card-content fxLayout="row wrap" fxLayoutAlign="space-between">
        <swagular-input *ngFor="let field of model.fields" [control]="getControl(field.key)"
                        [model]="field"></swagular-input>
      </mat-card-content>

      <mat-dialog-actions *ngIf="dialogRef">
        <button (click)="onSave()" mat-raised-button>{{ model.formSaveButtonTitle || "SAVE" }}</button>
        <button (click)="cancel()" mat-raised-button>{{ model.formCancelButtonTitle || "CANCEL" }}</button>
      </mat-dialog-actions>

      <mat-card-actions *ngIf="!dialogRef && showSaveButton">
        <button [disabled]="!model?.formGroup?.valid" class="save-button" color="primary" mat-raised-button
                type="submit">
          {{ model.formSaveButtonTitle || "SAVE" }}
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</ng-container>
