::ng-deep {
  .mat-dialog-container {
    padding: 0px !important;
    overflow: hidden !important;
  }
  .mat-card {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
  }
}
