<mat-form-field *ngIf="control && model" [appearance]="appearance || 'outline'" [ngSwitch]="type" style="width: 100%">
  <mat-label *ngIf="label">{{ label }}</mat-label>
  <textarea *ngSwitchCase="'textarea'" [formControl]="control" matInput></textarea>
  <mat-select *ngSwitchCase="'select'" [formControl]="control">
    <mat-option *ngFor="let option of model.options" [value]="option.value" ngDefaultControl>
      {{ option.title }}
    </mat-option>
  </mat-select>
  <input autocomplete="off" *ngSwitchDefault [formControl]="control" [type]="type === 'password' ? (hidePassword ? 'password' : 'text') : type" matInput />
  <a (click)="hidePassword = !hidePassword" *ngIf="type === 'password'" mat-icon-button matSuffix>
    <mat-icon matSuffix>{{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon>
  </a>
  <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
  <mat-error *ngIf="control.errors"> {{ control.errors[0] }} </mat-error>
</mat-form-field>
